<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HTML Sudoku Board</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="index.css" rel="stylesheet" type="text/css">
    <script type="module" src="index.js"></script>
  </head>
  
  <body>

    <div class="container">
      
      <h1>HTML Sudoku Board</h1>

      <table id="grid">

        <tr class="col col1">
          <td><input id="00"  type="number"></td>
          <td><input id="01"  type="number"></td>
          <td><input id="02"  type="number"></td>
          
          <td><input id="03"  type="number"></td>
          <td><input id="04"  type="number"></td>
          <td><input id="05"  type="number"></td>
          
          <td><input id="06"  type="number"></td>
          <td><input id="07"  type="number"></td>
          <td><input id="08"  type="number"></td>
        </tr>

        <tr class="col">
          <td><input id="10"  type="number"></td>
          <td><input id="11" type="number"></td>
          <td><input id="12" type="number"></td>
          
          <td><input id="13" type="number"></td>
          <td><input id="14" type="number"></td>
          <td><input id="15" type="number"></td>
          
          <td><input id="16" type="number"></td>
          <td><input id="17" type="number"></td>
          <td><input id="18" type="number"></td>
        </tr>

        <tr class="col3 col">          
          <td><input id="20" type="number"></td>
          <td><input id="21" type="number"></td>
          <td><input id="22" type="number"></td>
          
          <td><input id="23" type="number"></td>
          <td><input id="24" type="number"></td>
          <td><input id="25" type="number"></td>
          
          <td><input id="26" type="number"></td>
          <td><input id="27" type="number"></td>
          <td><input id="28" type="number"></td>
        </tr>

        <tr class="col1 col ">          
          <td><input id="30" type="number"></td>
          <td><input id="31" type="number"></td>
          <td><input id="32" type="number"></td>
          
          <td><input id="33" type="number"></td>
          <td><input id="34" type="number"></td>
          <td><input id="35" type="number"></td>
          
          <td><input id="36" type="number"></td>
          <td><input id="37" type="number"></td>
          <td><input id="38" type="number"></td>
        </tr>

        <tr class="col">          
          <td><input id="40" type="number"></td>
          <td><input id="41" type="number"></td>
          <td><input id="42" type="number"></td>
          
          <td><input id="43" type="number"></td>
          <td><input id="44" type="number"></td>
          <td><input id="45" type="number"></td>
          
          <td><input id="46" type="number"></td>
          <td><input id="47" type="number"></td>
          <td><input id="48" type="number"></td>
        </tr>

        <tr class="col3 col">          
          <td><input id="50" type="number"></td>
          <td><input id="51" type="number"></td>
          <td><input id="52" type="number"></td>
          
          <td><input id="53" type="number"></td>
          <td><input id="54" type="number"></td>
          <td><input id="55" type="number"></td>
          
          <td><input id="56" type="number"></td>
          <td><input id="57" type="number"></td>
          <td><input id="58" type="number"></td>
        </tr>

        <tr class="col1 col">          
          <td><input id="60" type="number"></td>
          <td><input id="61" type="number"></td>
          <td><input id="62" type="number"></td>
          
          <td><input id="63" type="number"></td>
          <td><input id="64" type="number"></td>
          <td><input id="65" type="number"></td>
          
          <td><input id="66" type="number"></td>
          <td><input id="67" type="number"></td>
          <td><input id="68" type="number"></td>
        </tr>

        <tr class="col">          
          <td><input id="70" type="number"></td>
          <td><input id="71" type="number"></td>
          <td><input id="72" type="number"></td>
          
          <td><input id="73" type="number"></td>
          <td><input id="74" type="number"></td>
          <td><input id="75" type="number"></td>
          
          <td><input id="76" type="number"></td>
          <td><input id="77" type="number"></td>
          <td><input id="78" type="number"></td>
        </tr>

        <tr class="col col3">          
          <td><input id="80" type="number"></td>
          <td><input id="81" type="number"></td>
          <td><input id="82" type="number"></td>
          
          <td><input id="83" type="number"></td>
          <td><input id="84" type="number"></td>
          <td><input id="85" type="number"></td>
          
          <td><input id="86" type="number"></td>
          <td><input id="87" type="number"></td>
          <td><input id="88" type="number"></td>
        </tr>

      </table>

      <button id="clickMe">Solve</button>

    </div>

    <script>
      var randomPuzzle = <%= JSON.stringify(randomPuzzle) %>;
      // console.log(randomPuzzle);
      for(var i=0; i<9; i++){
        for(var j=0; j<9; j++){
          if(randomPuzzle[i][j]>0){
            document.getElementById(""+i+j+"").value=randomPuzzle[i][j];
            document.getElementById(""+i+j+"").disabled=true;
          }
        }
      }
      document.getElementById("clickMe").setAttribute("data-x", randomPuzzle);
    </script>
  </body>
</html>